p {
	color: blue;
}
body {
  background-color: lightblue;
}

p {
  font-family: verdana;
  font-size: 25px;
}
h1 {
  text-align: center;
}
h1 {
  text-decoration: overline;
}
h1 {
  background-color: darkblue;
}
img {
	 width: 25%;
	 height: auto;
}
